Binaries
Build
DerivedDataCache
Intermediate
Saved
Content/Collections/
Content/Developers/
Plugins/*/Binaries/
Plugins/*/Intermediate/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/.idea
/TPSProject.sln.DotSettings.user
/Plugins/Developer/RiderLink